body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    background-color: antiquewhite;
    color: rgb(12, 98, 173);
    border: 4px solid black;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

td,
th {
    border-bottom: 2px solid black;
color: rgb(148, 14, 14);
}

tr th {
    text-align: justify;
}

tr{
    background-color: rgb(189, 189, 189);
}
tr:nth-child(even) {
    background-color: rgb(39, 38, 38);
}

tr:hover {
    background-color: rgba(255, 0, 0, 0.479);
}

#tit {
    font-weight: 800;
    font-size: 3em;
    color: rgb(255, 39, 39);
}



.wlrr{
    width: 100px;
}

td{
    width: 200px;
    color: rgb(238, 45, 45);
    font-weight: 600;
    font-size: 18px;
}

.tdd{
    font-weight: 700;
    color: rgb(255, 0, 0);
    font-size: 20px;
}

#wlr{
    display: flex;
}

#ig{width: 5%;}
#tik{width: 5%;}
#fb{width: 5%;}

